@import url(https://fonts.googleapis.com/css?family=Noticia+Text);
	
body {
	margin: 0;
	padding: 0;
	font-family: 'Noticia Text', serif;
	background-color: #463E3E;
	}
	
.container {
	width: 1300px;
	margin: auto;

	header {
		float: left;
		img {width: 100%;}
		}

	main {
		width: 1200px;
		margin: 25px 50px;
		padding: 0;
		float: left;
		
		.left-section, .right-section {
			float:left;
			width: 50%;
			div {width: 100%;}
			.lrg {height: 600px;}
			.sml {height: 300px;}
			}
			
		.about {
			width: 1100px;
			height: 350px;
			float: left;
			margin: 40px 50px;
			background-color: #7d2920;
			color: #fff;
			
			img {
				width: 350px;
				height: 350px;
				float: left
				}
			h2, hr, p {float: right;}
			h2 {
				text-align: center;
				font-size: 1.9em;
				margin: 0 15px 10px;
				width: 720px;
				}
			hr {
				width: 698px;
				margin: 15px 25px;
				}
			p {
				font-size: 1.1em;
				margin: 10px 25px;
				width: 700px;
				}
			a {color: #55f;}
			a:hover {color: #99f}
			}
		}
		
		footer {
			width: 100%;
			margin: 0;
			float: left;
			height: 300px;
			
			img {
				width: 1250px;
				height: 300px; 
				float: left;
				}
				
			.sociallink {
				background-color: #000;
				.socialgroup {
					float: left;
					div {
						width: 50px;
						height: 50px;
						background-image: url(img/sprite.jpg);
						}
					}
				}
				
			.facebook {background-position: 20% 0px;}
			.facebook:hover {background-position: 20% 100%;}
			.twitter {background-position: 0 0px;}
			.twitter:hover {background-position: 0 100%;}
			.tumblr {background-position: 60% 0px;}
			.tumblr:hover {background-position: 60% 100%;}
			.instagram {background-position: 80% 0px;}
			.instagram:hover {background-position: 80% 100%;}
			.youtube {background-position: 40% 0px;}
			.youtube:hover {background-position: 40% 100%;}
			.email {background-position: 100% 0px;}
			.email:hover {background-position: 100% 100%;}
			}
		}
		
@media only screen and (max-width: 1300px) {
	.container {
		width: 100%;
		main {
			width: 100%;
			margin: 25px 0;
			.left-section, .right-section {
				.lrg {height: auto;}
				.sml {height: auto;}
				img {width: 100%; float: left}
				}
			.about {
				width: 100%;
				margin: 40px auto;
				height: auto;
				img {
					width: 25%;
					height: auto;
					margin: 10px 3% 0 5%; 
					position: relative;
					float: left;
					}
				h2 {
					font-size: 7vw;
					width: 60%; 
					margin: 5px 2%;
					float: left;
					
					}
				hr {
					float: left;
					width: 58%;
					margin: 10px 4%;
					}
				p {
					font-size: 1.1em;
					margin: 10px 5%;
					width: auto;
					float: none;
					}
				}
			}
		footer {
			height: auto;
			img {
				width: 100%;
				height: auto;
				}
			.sociallink {
				float: left;
				width: 100%;
				background-color: #000;
				.socialgroup {
					float: none;
					width: 60vw;
					margin: auto;
					div {
						background-size: 60vw 20vw; 
						width: 10vw;
						height: 10vw;
						float: left;
						}
					}
				}
			}
		}
	
	}
